@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 85%;
    --secondary-foreground: 240 5.9% 10%;
    --tertiary: 27 82% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 237 13% 40%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 9% 6.5%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 30%;
    --secondary-foreground: 0 0% 98%;
    --tertiary: 237 22% 20%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 4.5%;
    --input: 240 10% 4.5%;
    --ring: 240 4.9% 83.9%;
  }
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#eceff2] dark:bg-[#0f0f12];
  }
}

@keyframes pulseAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes colorShift {
  0% {
    background: linear-gradient(to right, #8197a8, #393d41);
  }
  50% {
    background: linear-gradient(to right, #a8d1e7, #393d41);
  }
  100% {
    background: linear-gradient(to right, #8197a8, #393d41);
  }
}

.python-container:hover,
.c-container:hover,
.javascript-container:hover,
.rust-container:hover {
  @apply shadow-xl;
  animation: pulseAnimation 1.5s infinite;
}

.python-container,
.c-container,
.javascript-container,
.rust-container {
  @apply flex-auto p-4 w-[95%] lg:w-[50%] sm:w-[60%] bg-transparent backdrop-blur-[4px] dark:bg-transparent dark:backdrop-blur-[4px] shadow-sm dark:shadow-none rounded-xl border border-[#26292b15] dark:border dark:border-[#b7bdc220];
}

.feature-card {
  @apply md:h-[400px] xs:h-[300px] items-center justify-center bg-[#859bab] dark:bg-[#798189] backdrop-blur-[4px] bg-opacity-15 dark:backdrop-blur-[] dark:bg-opacity-10 p-4 rounded-xl shadow-xl dark:shadow-none border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.feature-title {
  @apply sm:text-xl xs:text-lg font-semibold text-[#26292b] dark:text-[#f7f8f8] mb-5;
}

.feature-description {
  @apply sm:text-base xs:text-sm text-gray-600 dark:text-gray-400 leading-6 mb-5;
}

.feature-card:hover {
  animation: pulseAnimation 1.5s infinite;
  box-shadow: 0 0 30px 0 #8197a8bc;
}

.code-box {
  @apply md:h-[400px] xs:h-[350px] bg-transparent dark:bg-[#798189] bg-opacity-15 dark:bg-opacity-10 p-4 rounded-xl shadow-lg dark:shadow-none border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.code-box-ai {
  @apply xs:h-[500px] lg:h-[700px] bg-[#d5dde2] dark:bg-[#798189] bg-opacity-25 dark:bg-opacity-10 p-4 rounded-xl shadow-lg dark:shadow-none border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.code-box-ai-2 {
  @apply md:h-[500px] xs:h-[450px] bg-transparent dark:bg-[#798189] bg-opacity-15 dark:bg-opacity-10 p-4 rounded-xl shadow-lg dark:shadow-none border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.mission-card {
  @apply bg-[#859bab] dark:bg-[#798189] bg-opacity-10 dark:bg-opacity-15 p-4 rounded-xl shadow-xl dark:shadow-none border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mission-card:hover {
  transform: scale(1);
  box-shadow: 0 0 30px 0 #8197a8bc;
}

.vision-card {
  @apply bg-[#859bab] dark:bg-[#798189] bg-opacity-10 dark:bg-opacity-15 p-4 rounded-xl shadow-xl dark:shadow-none border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.vision-card:hover {
  transform: scale(1);
  box-shadow: 0 0 30px 0 #8197a8bc;
}

.syntax-bridge-nav {
  @apply bg-transparent dark:bg-[#798189] bg-opacity-15 dark:bg-opacity-10 border-r border-[#26292b15] dark:border-[#b7bdc220] shadow-lg dark:shadow-none;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.custom-icon {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.gradient-ball-1 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  right: 0px;
  background: #b0bfc9;
  filter: blur(100px);
}

.dark .gradient-ball-1 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  right: 0px;
  background: #8197a8;
  filter: blur(190px);
}

.gradient-ball-2 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  left: 0px;
  background: #b0bfc9;
  filter: blur(100px);
}

.dark .gradient-ball-2 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  right: 0px;
  background: #8197a8;
  filter: blur(190px);
}

.gradient-ball-3 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  background: #8197a8;
  filter: blur(110px);
}

.dark .gradient-ball-3 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  background: #8197a8;
  filter: blur(190px);
}

.syntaxbridge-gradient-ball-1 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  right: 0px;
  background: #b0bfc9;
  filter: blur(120px);
}

.syntaxbridge-gradient-ball-2 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  left: 0px;
  background: #b0bfc9;
  filter: blur(120px);
}

.dark .syntaxbridge-gradient-ball-1 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  right: 0px;
  background: #8197a8;
  filter: blur(190px);
}

.dark .syntaxbridge-gradient-ball-2 {
  animation: float 2s linear infinite;
  background-size: 200% 200%;
  position: absolute;
  width: 200px;
  height: 300px;
  left: 0px;
  background: #8197a8;
  filter: blur(190px);
}

.gradient-ball-purpose {
  animation: float 2s linear infinite;
  background-size: 300% 300%;
  position: absolute;
  width: 400px;
  height: 500px;
  background: #b0bfc9;
  filter: blur(200px);
}

.dark .gradient-ball-purpose {
  animation: float 2s linear infinite;
  background-size: 300% 300%;
  position: absolute;
  width: 400px;
  height: 500px;
  background: #8197a8;
  filter: blur(220px);
}

.cta-container {
  @apply py-8 bg-[#859bab] dark:bg-[#798189] backdrop-blur-[4px] bg-opacity-15 dark:backdrop-blur-[] dark:bg-opacity-10 p-4 rounded-xl xl:rounded-tr-[200px] xl:rounded-bl-[200px] lg:rounded-tr-[100px] lg:rounded-bl-[100px] xs:rounded-tr-[50px] xs:rounded-bl-[50px];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 #8197a8bc;
}

/* .cta-container:hover {
  transform: scale(1);
  box-shadow: 0 0 30px 0 #8197a8bc;
} */

.dark .shift-gradient {
  animation: float 2s linear infinite;
  background-size: 400% 400%;
  position: absolute;
  width: 400px;
  height: 300px;
  background: #8197a8;
  filter: blur(200px);
}

.dark .spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.dark .spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

.app-button {
  @apply rounded-xl py-2 px-4 border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.blog-card {
  @apply bg-transparent dark:bg-[#798189] bg-opacity-15 dark:bg-opacity-10 rounded-xl shadow-lg dark:shadow-none border border-[#26292b15] dark:border-[#b7bdc220];
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.fixed-size-icon {
  width: 20px;
  height: 20px;
}